---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="CV" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profil</div>
  </div>

  <div class="mb-10 text-justify">
    Experienced data scientist specialized in computer vision, I master the entire model lifecycle – from algorithmic research to production deployment – for high-impact industrial applications.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="MASTER 2, Computer Engineering (M2)"
      subtitle="2020 to 2023 at IMERIR, Perpignan, France"
    >
    EDUCATION FOCUS AREAS : <br>
    • Computer Science <br>
    • Robotics <br>
    • Management and Engineering Culture <br> <br>

    ARTIFICIAL INTELLIGENCE OPTION : <br>
    • Artificial Intelligence <br>
    • Machine Learning <br>
    • Expert Systems <br>
    
    </TimeLineElement>
    <TimeLineElement
      title="BTEC Higher National Diploma in Computer Science (HND)"
      subtitle="2017 to 2019 at Lycée Georges Brassens, Rive-de-Giers, France"
    >
      • Object-oriented application development <br>
      • Networking of computer and telecommunications systems <br>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiences</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Scientist"
      subtitle="Since 2023 at EXAKIS NELITE, Lyon, France"
    >
    • AI Model Development: Designed and deployed ML models on Azure Cloud. <br>
    • Data Engineering: Built data pipelines and APIs to operationalize AI solutions. <br>
    • Application Delivery: Delivered client-ready applications integrating scalable AI services. <br>
    </TimeLineElement>
    
    <TimeLineElement
      title="Data Scientist"
      subtitle="From 2023 to 2023 at Mediatouch, Perpignan, France (6 months)"
    >
    • AI Model Development: Designed and implemented machine learning architectures for license
    plate recognition, including supervised training and character assembly algorithms. <br>
    • Data Pipeline Management: Collected, cleaned, preprocessed, and augmented large datasets to
    ensure high-quality training inputs. <br>
    • User Interaction: Built and deployed a user-friendly interface to facilitate seamless interaction
    with the AI recognition system. <br>
    • Performance Optimization: Improved accuracy and robustness through iterative model
    refinement and data-driven experimentation <br>
      <b><a 
          href="https://www.youtube.com/watch?v=25r-kjp4JbQ" target="_blank"
          class="mx-3"
          aria-label="SC PLATE READER"
          title="Demo"
          >Demo</a></b> <br>
    </TimeLineElement>
    
    <TimeLineElement
      title="Full Stack developer"
      subtitle="From 2021 to 2023 at Mediatouch, Perpignan, France (2 years)"
    >
    • API Development: Designed and implemented robust APIs to support system functionality and
    integration. <br>
    • Web Application Development: Built and maintained scalable web applications with a focus on
    performance and usability. <br>
    • Quality Assurance: Conducted unit and integration testing to ensure reliability, functionality, and
    code quality <br>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>PyTorch</li>
    <li>TensorFlow</li>
    <li>OpenCV</li>
    <li>CNN</li>
    <li>CUDA</li>
  </ul>
</BaseLayout>
