---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="CV" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profil</div>
  </div>

  <div class="mb-10 text-justify">
    Data scientist expérimenté en vision par ordinateur, je maîtrise tout le cycle de vie des modèles – de la recherche algorithmique au déploiement en production – pour des applications industrielles à fort impact.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formations</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="MASTER 2, Ingénierie informatique (niveau 7)"
      subtitle="2020 à 2023 à l'IMERIR, Perpignan, France"
    >
    PÔLES D’ENSEIGNEMENT : <br>
    • Informatique <br>
    • Robotique <br>
    • Management et culture de l'ingénieur <br> <br>

    OPTION INTELLIGENCE ARTIFICIELLE : <br>
    • Intelligence Artificielle <br>
    • Machine Learning <br>
    • Système Expert <br>
    
    </TimeLineElement>
    <TimeLineElement
      title="BTS SN IR"
      subtitle="2017 à 2019 au Lycée Georges Brassens, Rive-de-Giers, France"
    >
      • Développement d'application orienté objet <br>
      • Mise en réseau de systèmes informatiques et télécommunications <br>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Expériences</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Data Scientist"
      subtitle="Depuis 2023 chez EXAKIS NELITE, Lyon, France"
    >
    </TimeLineElement>
    
    <TimeLineElement
      title="Data Scientist"
      subtitle="De 2023 à 2023 chez Mediatouch, Perpignan, France (6 mois)"
    >
      • Développement d'un prototype d'IA de reconnaissance de plaque d'immatriculation <br>
      • Acquisition de jeux de données <br>
      • Nettoyage et prétraitement des données <br>
      • Augmentation des données <br>
      • Construction de l'architecture des modèles <br>
      • Entraînement avec apprentissage supervisé <br>
      • Algorithme d'assemblage de caractères <br>
      • Développement d'une interface utilisateur pour interagir avec le modèle IA <br>
      • Intégration de la reconnaissance de plaque dans un système <br>
      <b><a 
          href="https://www.youtube.com/watch?v=25r-kjp4JbQ" target="_blank"
          class="mx-3"
          aria-label="SC PLATE READER"
          title="Vidéo de démo"
          >Vidéo de démo</a></b> <br>
    </TimeLineElement>
    
    <TimeLineElement
      title="Développeur Full Stack"
      subtitle="De 2021 à 2023 chez Mediatouch, Perpignan, France (2 ans)"
    >
    • Développement d'API <br>
    • Développement d'application Web <br>
    • Test unitaire et d'intégration <br>  
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Compétences</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>PyTorch</li>
    <li>TensorFlow</li>
    <li>OpenCV</li>
    <li>CNN</li>
    <li>Cuda</li>
  </ul>
</BaseLayout>
